---
layout: default
title: welcome
---
<style>
a:link, a:visited, a:hover, a:active {
	color: black;
}
.itemize__clothes input {
	float: left;
	display: block;
	padding: 1em;
	font: 24px "Helvetica";
	border: none;
}
.clothes__category {
	padding: 5em 0;
	overflow: auto;
}
.item__edit {
	background-color: #eee;
	width: 75%;
}
.item__count {
	width: 25%;
	text-align: right;
}
.decrease__count, .increase__count {
	width: 50%;
	float: left;
	padding: 0.5em 1em;
	font: 24px "Helvetica";
	background: none;
}
.decrease__count {
	border: 30px solid #f25100;
}
.increase__count {
	border: 30px solid #94e515;
}
.decrease__count:focus {
	background-color: #f25100;
}
.increase__count:focus {
	background-color: #94e515;
}
.add__category {
	padding: 1em;
	font: 16px "Helvetica";
	border: none;
	width: 100%;
	background-color: #08b9fd;
}
.results {
	padding: 1em;
	text-align: right;
}
.grand__total {
	border-top: 3px solid black;
}
.itemize a {
	text-decoration: none;
}
.jump {
	position: fixed;
	bottom: 0px;
	left: 0px;
	background-color: rgba(242,196,6,0.9);
}
.jump li {
	display: inline-block;
}
.jump li a {
	color: black;
	display: block;
	padding: 0.5em 1em;
}
footer {
	margin-bottom: 15em;
}
.toggle__misc {
	padding: 1em;
	font: 16px "Helvetica";
	border: none;
	width: 100%;
	background-color: #08b9fd;
}
</style>

{% raw %}
<div ng-app ng-controller="calc">

	<ul class="itemize__clothes">
		<li ng-repeat="item in inventory" class="clothes__category">
			<input type="text" ng-model="item.type" class="item__edit" id="{{item.type}}">
			<input  type="number" min="0" inputmode="numeric" pattern="[0-9]*" title="Non-negative integral number" ng-model="item.count" class="item__count">
		<button ng-click="decreaseCount($index)" class="decrease__count">- 1</button><button ng-click="increaseCount($index)" class="increase__count">+ 1</button>
		</li>
	</ul>
	<button class="add__category" ng-click="addCategory()">Add Category</button>
	
	<div class="results">
		<h1>Total</h1>
		<h3 ng-repeat="item in inventory" class="itemize"><a ng-href="#{{item.type}}"><small class="result__label">{{item.type}}:</small> {{item.count}}</a></h3>
		<h1 class="grand__total" id="total"><span ng-bind="totalItems()"></span></h1>
		<h2>items donated</h2>
		
		<button ng-click="generateItemBreakdown()">mail</button>
	</div>
	
	<nav class="jump">
		<ul>
			<li ng-repeat="item in inventory" ng-if="item.misc == false" ng-hide="misc == true">
				<a ng-href="#{{item.type}}"><small class="result__label">{{item.type}}</small></a>
			</li>
			<li ng-repeat="item in inventory" ng-if="item.misc == true" ng-hide="misc == false">
				<a ng-href="#{{item.type}}"><small class="result__label">{{item.type}}</small></a>
			</li>
			<li class="misc__row"><button ng-click="toggleMisc()" class="toggle__misc">
				<span ng-show="misc">show main</span><span ng-hide="misc">show miscellaneous</span></button></li>
			<li><a href="#total">current total: <span ng-bind="totalItems()"></span></a></li>
		</ul>
	</nav>
</div>
{% endraw %}