---
layout: default
title: welcome
---
<style>
a:link, a:visited, a:hover, a:active {
	color: black;
}
input {
    -webkit-appearance: none;
    border-radius: 0;
}
.itemize__clothes input {
	float: left;
	display: block;
	padding: 1em;
	font: 24px "Helvetica";
	box-sizing: border-box;
}
.itemize__clothes input:focus {
	border-color: #444;
}
.clothes__category {
	padding: 1.75em 0 8em;
	overflow: auto;
}
.item__edit {
	border: 10px solid #eee;
	width: 67%;
}
.item__count {
	width: 33%;
	text-align: right;
	border: 10px solid #08b9fd;
}
.decrease__count, .increase__count {
	width: 50%;
	float: left;
	padding: 1.5em 2em;
	border: none;
	font: 24px "Helvetica";
}
.decrease__count {
	background-color: #f25100;
}
.increase__count {
	background-color: #94e515;
}
.add__category {
	padding: 1em;
	font: 16px "Helvetica";
	border: none;
	width: 100%;
	background-color: #08b9fd;
}
.results {
	padding: 1em;
	text-align: right;
}
.grand__total {
	border-top: 3px solid black;
}
.itemize a {
	text-decoration: none;
}
nav {
	padding: 0 !important;
}
.jump {
	position: fixed;
	bottom: 0px;
	left: 0px;
	/*background-color: rgba(242,196,6,0.9);*/
	background-color: rgba(245,245,245,0.95);
}
.jump ul {
	margin-top: 0.5rem;
}
.jump li {
	display: inline-block;
}
.jump li a {
	color: black;
	display: block;
	padding: 0.20em 0.50em 0.35em;
	position: relative;
	margin: 0.125em 0.125em 0.125em 0.25em;
}
.jump li a:before {
	content: "";
	width: 0;
	height: 0;
	border-bottom: 5px solid transparent;
	border-top: 5px solid transparent;
	border-left: 5px solid #08b9fd;
	position: absolute;
	margin-left: -0.5rem;
	margin-top: 0.5rem;
}
.last__row {
	display: block;
	width: 100%;
	margin: 0.5rem 0 0;
	background: rgba(255,255,255,0.9);
}
footer {
	margin-bottom: 15em;
}
.toggle__misc, .mail__itemized {
	padding: 1em;
	font: 16px "Helvetica";
	border: none;
	background-color: #08b9fd;
}
.mail__itemized {
	background-color: #94e515;
	font-size: 36px;
	margin: 2rem 0;
	width: 100%;
}
.toggle__misc {
	float: left;
	width: 40%;
	margin: 0 !important;
	padding: 0.5em;
}
.current__total {
	float: right;
	width: 55%;
	text-align: right;
	padding: 0.25rem 1em !important;
	margin: 0 !important;
	border-radius: 0 !important;
	background-color: transparent !important;
	text-decoration: underline !important;
}
</style>

{% raw %}
<div ng-app ng-controller="calc">

	<ul class="itemize__clothes">
		<li ng-repeat="item in inventory" class="clothes__category" id="{{item.type}}">
			<input type="text" ng-model="item.type" class="item__edit">
			<input type="number" min="0" inputmode="numeric" pattern="[0-9]*" title="Non-negative integral number" ng-model="item.count" class="item__count">
		<button ng-click="decreaseCount($index)" class="decrease__count">- 1</button><button ng-click="increaseCount($index)" class="increase__count">+ 1</button>
		</li>
	</ul>
	<button class="add__category" ng-click="addCategory()">Add Category</button>
	
	<div class="results">
		<h1>Total</h1>
		<h3 ng-repeat="item in inventory" class="itemize"><a ng-href="#{{item.type}}"><small class="result__label">{{item.type}}:</small> {{item.count}}</a></h3>
		<h1 class="grand__total" id="total"><span ng-bind="totalItems()"></span></h1>
		<h2>items donated</h2>
		
		<button ng-click="generateItemBreakdown()" class="mail__itemized">email totals</button>
	</div>
	
	<nav class="jump">
		<ul>
			<li ng-repeat="item in inventory" ng-if="item.misc == false" ng-hide="misc == true">
				<a ng-href="#{{item.type}}"><small class="result__label">{{item.type}}</small></a>
			</li>
			<li ng-repeat="item in inventory" ng-if="item.misc == true" ng-hide="misc == false">
				<a ng-href="#{{item.type}}"><small class="result__label">{{item.type}}</small></a>
			</li>
			<li class="last__row">
				<button ng-click="toggleMisc()" class="toggle__misc">
				<span ng-show="misc">show main</span><span ng-hide="misc">show misc</span></button> <a href="#total" class="current__total">current total: <span ng-bind="totalItems()"></span></a></li>
		</ul>
	</nav>
</div>
{% endraw %}